$lgc-light-blue: #F5FBFC;
$lgc-dark-blue: #293146;
$lgc-light-grey: #edeff2;
$lgc-dark-grey: #677085;

$border: 1px solid $lgc-light-grey;
$border-radius: .3rem;
$box-shadow: -2px 5px 6px 0 rgba(173,182,217,.29),0 0 25px 0 rgba(173,182,217,.5);
